.todo-form {
    margin: 1rem auto;
    width: 40%;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.todo-form-input {
    height: 1.5rem;
}

.todo-form-button {
    margin-left: 1rem;
    height: 1.5rem;
    width: 5rem;
    background: #4ba0b9;
    border: none;
    border-radius: 2px;
}