.todo-form {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 10fr;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;

}

.todo-form-input {
    display: inline-block;
    width: 70%;
}

.todo-form-button {
    height: 1.5rem;
    width: 5rem;
    background: #4ba0b9;
    border: none;
    border-radius: 2px;


    &:hover {
        background: #1c93b8;
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 400px) {
    .todo-form {
        grid-template-columns: 1fr;
        width: 100%;

    }

    .todo-form-button {
        width: auto;
    }

    .todo-form-input {
        height: 1.5rem;
        margin-bottom: .5rem;
    }
}