.todo-form {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    margin-bottom: 2rem;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 20%;

}

.todo-form-input {
    height: 1.5rem;
}

.todo-form-button {
    height: 1.5rem;
    width: 5rem;
    background: #4ba0b9;
    border: none;
    border-radius: 2px;


    &:hover {
        background: #1c93b8;
        color: white;
        cursor: pointer;
    }
}