.todo-details-li {
  background: rgb(162, 186, 207);
  border-left: 1px solid aliceblue;
  border-bottom: 1px solid rgb(34, 15, 8);
  border-radius: 5px;


  &:first-child {
    border-left: none;
  }
}

.todo-details-p {
  text-align: center;
  overflow-wrap: break-word;

}

.todo-details-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.todo-details-content {
  min-height: minmax(50px, auto);
  color: rgb(253, 234, 65);
  font-weight: lighter;

}