.todo-details-li {
  background: #4ba0b9;
  border-left: 1px solid aliceblue;
  border-bottom: 1px solid rgb(34, 15, 8);
  margin-bottom: .5rem;
  border-radius: 5px;


  &:first-child {
    border-left: none;
  }

  &:hover {
    background: #1c93b8;
    color: white;
    cursor: pointer;
    text-decoration: line-through;
  }
}

.todo-details-p {
  text-align: center;
  overflow-wrap: break-word;

}

.todo-details-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px black;
}

.todo-details-content {
  min-height: minmax(50px, auto);
  color: black;
  text-shadow: 1px 1px rgba(240, 248, 255, 0.459);
  margin-bottom: 1rem;
}